# **PANDAS**

IMPORTAR LIBRERIA

In [ ]:
import pandas as pd #pd porque es una convencion utilizada globalmente

# SERIES

CREAR UNA SERIE - CON PANDAS

In [ ]:
import pandas as pd #pd porque es una convencion utilizada globalmente

notas=pd.Series([5.7,8.6,7.6,8.7,9.9,10,9.1], #notas de alumnos le pongo , al final porque luego voy a insertar los indeces
  index=["Juan","Milagros","Matias","Pedro","Pablo","Penelope","Mateo"])

notas #llamo a la funcion

Juan         5.7
Milagros     8.6
Matias       7.6
Pedro        8.7
Pablo        9.9
Penelope    10.0
Mateo        9.1
dtype: float64

QUIERO SABER CUALES SON LOS INDICES

In [ ]:
print(notas.index) #Traigo los indices

Index(['Juan', 'Milagros', 'Matias', 'Pedro', 'Pablo', 'Penelope', 'Mateo'], dtype='object')

QUIERO SABER CUALES SON LOS VALORES

In [ ]:
print(notas.values) #Traigo los valores

[ 5.7  8.6  7.6  8.7  9.9 10.   9.1]

QUIERO MODIFICAR LOS NOMBRES DE LOS INDICES

In [ ]:
cambio_indices=["Mateo","Javier","Micaela","Pedro","Pablo","Penelope","Juan"] #genero lista nueva

notas_arregladas=pd.Series(notas,index=cambio_indices) #genero nueva variable con cambio de variable index

notas_arregladas #imprimo lista

Mateo        9.1
Javier       NaN
Micaela      NaN
Pedro        8.7
Pablo        9.9
Penelope    10.0
Juan         5.7
dtype: float64

CAMBIAR VALORES

In [ ]:
notas_arregladas[0]=12 #que pasa si tuve un errror

notas_arregladas

Mateo       12.0
Javier       NaN
Micaela      NaN
Pedro        8.7
Pablo        9.9
Penelope    10.0
Juan         5.7
dtype: float64

NO INCLUYO INDEX

In [ ]:
notas2=pd.Series([5.7,8.6,7.6,8.7,9.9,10,9.1])

notas2

0     5.7
1     8.6
2     7.6
3     8.7
4     9.9
5    10.0
6     9.1
dtype: float64

LIST COMPRENHENSION

In [ ]:
nota3=pd.Series(["x cosa" + str(i) for i in range(0,10) if  i%2 ==0]) #list comprehension

#1- valor a agregar a la lista
#2- Un ciclo un for

nota3

0    x cosa0
1    x cosa2
2    x cosa4
3    x cosa6
4    x cosa8
dtype: object

LLAMAR UN VALOR

In [ ]:
notas["Mateo"]

9.1

# DATAFRAMES

In [ ]:
import pandas as pd #importopandas

CREAR DATAFRAME

In [ ]:
modelos=['A4 3.0 Quattro 4dr manual', 'A4 3.0 Quattro 4dr auto', 'A6 3.0 4dr', 'A6 3.0 Quattro 4dr', 'A4 3.0 convertible 2dr'] #este sera el indice

peso= [3350,1203,1230,1231,1232] #columna1
precio=[322350,120223,1232220,12321,12232] #columna2
ponderacion=[322350,120223,1232220,12321,12232] #columna2

df=pd.DataFrame({"Peso":peso,"Precios":precio}, index=modelos) #con index
df2=pd.DataFrame({"Peso":peso,"Precios":precio}) #sin index
df3=pd.DataFrame(precio) #sin nombre de columna

df #con index
df2 # sin index
df3 #Sin valores

         0
0   322350
1   120223
2  1232220
3    12321
4    12232

CREAR UN DATAFRAME

# IMPORTAR ARCHIVOS

In [ ]:
import pandas as pd

IMPORTAR ARCHIVOS DESDE DRIVE

In [ ]:
from google.colab import drive  #importo unos paquetes que necesitamos
drive.mount('/content/gdrive') #aca conecto con google drive-- Esta linea no cambia nunca.

#el primer parametro que le enviamos a read_csv es el path, osea donde esta ubicado mi archivo
#la parte inicial /content/gdrive/MyDrive/ nunca cambia (solo se le agrega la carpeta y el nombre del archivo)

df= pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/CLASES CODER/3-Pandas/puntos_digitales.csv',sep=',') #con sep=',' le estamos diciendo que los datos estan separados por comas(,)

df

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,id_pd,nombre_pd,direccion,nombre_institucional,id_provincia,id_departamento,id_localidad,cod_bahra_localidad,id_municipio,provincia,departamento,localidad,municipio,mail_institucional,latitud,longitud,horarios,link_facebook,estado
0,40,Berisso I,33 S/N esquina 169 (Barrio Obrero),CIC,AR-B,1208,323,6098010004,BUE014,Buenos Aires,Berisso,Berisso,Berisso,berisso@puntodigital.gob.ar,-34.881902,-57.857780,"Lunes 08:00 a 17:00 , Martes 08:00 a 17:00 , M...",https://www.facebook.com/nac.berisso/?notif_t=...,Activo
1,41,Cañuelas,Mozotegui 807,Edificio Municipal,AR-B,1213,431,6134030000,BUE018,Buenos Aires,Cañuelas,Cañuelas,Cañuelas,canuelas@puntodigital.gob.ar,-35.049960,-58.762520,"Lunes 08:00 a 18:00 , Martes 08:00 a 18:00 , M...",https://www.facebook.com/Punto-Digital-Cañuela...,Activo
2,42,Carmen de Patagones,Calle Ramón Ocampo 665,Edificio Municipal,AR-B,1286,1649,6602030000,BUE091,Buenos Aires,Patagones,Carmen de Patagones,Patagones,cdepatagones@puntodigital.gob.ar,-40.785067,-62.993563,"Lunes 07:00 a 18:00 , Martes 07:00 a 18:00 , M...",NaN,Activo
3,43,Morón I (Sur),Baradero 1340,Edificio Municipal,AR-B,1281,1497,6568010004,BUE086,Buenos Aires,Moron,Moron,Morón,moronsur@puntodigital.gob.ar,-34.689553,-58.636381,"Lunes 08:00 a 16:00 , Martes 08:00 a 16:00 , M...",https://www.facebook.com/PuntoDigitalMoronSur/...,Temporalmente cerrado
4,44,Chivilcoy,Miguel Calderon 1271,CIC,AR-B,1221,697,6224010000,BUE026,Buenos Aires,Chivilcoy,Chivilcoy,Chivilcoy,chivilcoy@puntodigital.gob.ar,-34.916846,-60.001681,"Lunes 10:00 a 16:00 , Martes 10:00 a 16:00 , M...",NaN,Temporalmente cerrado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,1106,Esquel II,Pasaje Mara 1751,Ex sede vecinal Barrio Estación,AR-U,1371,5765,26035030000,CHU018,Chubut,Futaleufu,Esquel,Esquel,NaN,-42.900744,-71.320829,NaN,NaN,Próximamente
654,1110,Alto Río Senguer / Chubut,Sarmiento 100,Alto Río Senguer / Chubut,AR-U,1367,5821,26084030000,CHU003,Chubut,Rio Senguer,Alto Rio Senguer,Alto Río Senguer,NaN,-45.043478,-70.824520,NaN,NaN,Próximamente
655,1114,Ezeiza II,Zapala 401,Casa De La Cultura Municipal de Ezeiza,AR-B,1233,778,6270010005,BUE039,Buenos Aires,Ezeiza,La Union,Ezeiza,NaN,-36.309810,-57.664870,NaN,NaN,Próximamente
656,1118,San Antonio Oeste / Río Negro,Peatonal Viedma,San Antonio Oeste / Río Negro,AR-R,1578,9241,62077010000,RNO032,Río Negro,San Antonio,Las Grutas,San Antonio Oeste,NaN,-40.811309,-65.088561,NaN,NaN,Próximamente
657,1122,Delfín Gallo,Av. Nuestra Señora del Carmen S/N,Edificio Municipal,AR-T,1646,13097,90014060002,TUC023,Tucumán,Cruz Alta,Ex Ingenio Esperanza,Delfín Gallo,NaN,-26.844744,-65.092463,NaN,NaN,Próximamente

IMPORTAR ARCHIVOS TXT SEPARADO TABULACIONES

In [ ]:
df2=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/CLASES CODER/3-Pandas/pokemon_data.txt",sep="\t")  #\t separado por tabulacion

df2

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

IMPORTA ARCHIVOS XLSX EN PC

In [ ]:
df3=pd.read_excel("/content/gdrive/MyDrive/Colab Notebooks/CLASES CODER/3-Pandas/defaultoutput2.xlsx",sheet_name="hoja_traer",index_col=1)

# sheet_name="hoja_traer" Aca aclaro que sheet quiero
#index_col=1 Aca nombro la columna 1
df3

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,MostExpensive,Marital_Status_key,Education_key
index,,,,,,,,,,,,,,,,,,,,,
0.0,0.0,5524.0,1957.0,Graduation,Single,58138.0,0.0,0.0,04-09-2012,58.0,...,False,False,False,False,3.0,11.0,True,Wines,0.0,1.0
1.0,1.0,2174.0,1954.0,Graduation,Single,46344.0,1.0,1.0,08-03-2014,38.0,...,False,False,False,False,3.0,11.0,False,Wines,0.0,1.0
2.0,2.0,4141.0,1965.0,Graduation,Together,71613.0,0.0,0.0,21-08-2013,26.0,...,False,False,False,False,3.0,11.0,False,Wines,2.0,1.0
3.0,3.0,6182.0,1984.0,Graduation,Together,26646.0,1.0,0.0,10-02-2014,26.0,...,False,False,False,False,3.0,11.0,False,MeatProducts,2.0,1.0
4.0,4.0,5324.0,1981.0,PhD,Married,58293.0,1.0,0.0,19-01-2014,94.0,...,False,False,False,False,3.0,11.0,False,Wines,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235.0,2235.0,10870.0,1967.0,Graduation,Married,61223.0,0.0,1.0,13-06-2013,46.0,...,False,False,False,False,3.0,11.0,False,Wines,1.0,1.0
2236.0,2236.0,4001.0,1946.0,PhD,Together,64014.0,2.0,1.0,10-06-2014,56.0,...,False,True,False,False,3.0,11.0,False,Wines,2.0,0.0
2237.0,2237.0,7270.0,1981.0,Graduation,Divorced,56981.0,0.0,0.0,25-01-2014,91.0,...,False,False,False,False,3.0,11.0,False,Wines,3.0,1.0
2238.0,2238.0,8235.0,1956.0,Master,Together,69245.0,0.0,1.0,24-01-2014,8.0,...,False,False,False,False,3.0,11.0,False,Wines,2.0,2.0
2239.0,2239.0,9405.0,1954.0,PhD,Married,52869.0,1.0,1.0,15-10-2012,40.0,...,False,False,False,False,3.0,11.0,True,Wines,1.0,0.0

IMPORTAR GITHUB

In [ ]:
url="https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/test.csv"
df4=pd.read_csv(url,index_col=0) #index la primer col es el indice

df4

IMPORTAR APIS

te la debo

# MANIPULACION DE PANDAS / SELECCION Y ETC

In [ ]:
import pandas as pd

CREO MI TABLA DE EJEMPLO

In [ ]:
modelos = ['A4 3.0 Quattro 4dr manual', 'A4 3.0 Quattro 4dr auto', 'A6 3.0 4dr', 'A6 3.0 Quattro 4dr', 'A4 3.0 convertible 2dr'] #este sera el indice
peso = [3583, 3627, 3561, 3880, 3814] #columna 1
precios =[33430,34480,36640,39640,42490] #columna 2

df10=pd.DataFrame({'peso':peso,'precios':precios}, index=modelos)

SELECCION

In [ ]:
df10.index #VER INDICES

In [ ]:
df10.columns #VER COLUMNAS

In [ ]:
df10.values #VER VALORES

In [ ]:
df10.values[2] # Seleccionar una fila

In [ ]:
df10.values[2] # Seleccionar una fila determinada

df10["peso"] # Seleccionar una columna determinada

SELECCION CON LOC

Para seleccionar filas, columnas o celdas especificas usando **ETIQUETAS**

Podemos escribirlo asi:

* **dataframe.loc[etiqueta de la fila, etiqueta de la columna]**

* Si queremos seleccionar todas las filas para una columna solamente:
  **dataframe.loc[:, etiqueta de la columna]**

* Si queremos seleccionar todas las columnas para una fila solamente:
  **dataframe.loc[etiqueta de la fila, :]**

In [ ]:
df10.loc['A4 3.0 Quattro 4dr manual',:] #aca solo selecciono fila

In [ ]:
df10.loc[:,'peso'] #aca solo selecciono columna

In [ ]:
df10.loc['A4 3.0 Quattro 4dr manual',"peso"] #Fila 1 y Columna 1

3583

 SELECCION CON ILOC

Para seleccionar filas, columnas o celdas especificas usando **POSICIONES NUMERICAS**

Podemos escribirlo asi:

* **dataframe.iloc[posicion de la fila, posicion de la columna]**

* Si queremos seleccionar todas las filas para una columna solamente:
  **dataframe.iloc[:, posicion de la columna]**

* Si queremos seleccionar todas las columnas para una fila solamente:
  **dataframe.iloc[posicion de la fila, :]**

In [ ]:
df10.iloc[1,:] #aca solo selecciono fila

peso        3627
precios    34480
Name: A4 3.0 Quattro 4dr auto, dtype: int64

In [ ]:
df10.iloc[:,1] #aca solo selecciono columna

A4 3.0 Quattro 4dr manual    33430
A4 3.0 Quattro 4dr auto      34480
A6 3.0 4dr                   36640
A6 3.0 Quattro 4dr           39640
A4 3.0 convertible 2dr       42490
Name: precios, dtype: int64

In [ ]:
df10.loc[1,1] #Fila 1 y Columna 1

KeyError: ignored

SELECCION X CONDICIONALES

In [ ]:
df10.loc[df10.peso>=3600,'precios'] #con una condicion

A4 3.0 Quattro 4dr auto    34480
A6 3.0 Quattro 4dr         39640
A4 3.0 convertible 2dr     42490
Name: precios, dtype: int64

# OPERACIONES BASICAS

#UFUNCS (UNIVERSAL FUNCTIONS)

TRASPONER

In [ ]:
df.T

CARGO EL DATAFRAME

In [ ]:
import pandas as pd

modelos = ['A4 3.0 Quattro 4dr manual', 'A4 3.0 Quattro 4dr auto', 'A6 3.0 4dr', 'A6 3.0 Quattro 4dr', 'A4 3.0 convertible 2dr'] #este sera el indice
peso = [3583, 3627, 3561, 3880, 3814] #columna 1
precios =[33430,34480,36640,39640,42490] #columna 2

CALCULAR PORCENTAJE

DIVIDO EL DATA FRAME POR LA FILA 0

In [ ]:


df10=pd.DataFrame({'peso':peso,'precios':precios}, index=modelos)

(df10/df10.iloc[0])*100